<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Task list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>
<body>

<a href="./items">Items</a>
<a href="./addItem">items-add</a>
<a href="./task">Task</a>
<a href="./addTask">Task-add</a>


<h1>Добавить тестовые задачи</h1>


<div class="container">
    <form action="#" th:action="@{/addTask}" th:object="${task}" method="post">
        <p>User: <input th:field="${task.user}"/></p>
        <p>Task: <input th:field="${task.description}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
<!-- /.container -->


</body>
</html>